###
#
# GITIGNORE
#
# We ignore all ./*.IMAGETYPE
# But not images/ (so we can show examples)
#
###

.DS_Store
*.png
*.jpg
*.tiff

!./images/*

# cpp executables
*.out
*.o
*.pyc

# compressed
*.tar*

